/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 960px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  color: #3498db;
  margin-top: 20px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  background-color: #ecf0f1;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
}

li:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
}

a:hover {
  background-color: #d5dbdb;
}

.loading,
.error {
  padding: 15px;
  margin-top: 20px;
  border: 1px solid #bdc3c7;
  background-color: #e0e0e0;
  border-radius: 6px;
  text-align: center;
  color: #555;
}

/* Styles for Show Details Page */
.show-details {
  padding: 20px;
  position: relative;
}

.show-details h2 {
  color: #e67e22;
}

.show-details p {
  color: #555;
  line-height: 1.8;
}

.audio-player-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.audio-player-container audio {
  width: 100%;
}

.playing-episode {
  background-color: #e0f7fa;
}

.loading-spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto; /* Center the spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
